body{
    margin: 0;
    padding: 0;
    background: #D38312;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #D38312, #A83279);
    background: linear-gradient(to top, #D38312, #A83279);
    background-repeat: no-repeat;
    min-height: 100vh;
}
.title{
	font-family: 'Lemonada', cursive;
	font-size: calc(110% + 4vh);
	border: 1px solid transparent;
	color: orange;
	border-radius: 5px;
}
.slide{
	position: relative;
	width: 100%;
	height: 85vh;
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: auto;
	grid-template-areas: "whole"
}
.overlay{
	background: rgba(168,50,121, 0.4);
	grid-area: whole;
	width: 100%;
	height: 100%;
	z-index: 1;
}
.slide-img{
	grid-area: whole;
	height: 100%;
	width: 100%;
	border-radius: 10px;
	z-index: 0;
}
.description{
	position: absolute;
	bottom: 8px;
	background: rgba(0,0,0,0.4);
	color: white;
	width: 100%;
	padding: 10px;
	font-family: 'Lemonada', cursive;
	font-size: calc(110% + 1vh);
	z-index: 2;
}
.previous, .next{
	position: absolute;
	top: 50%;
	text-decoration: none;
	font-size: calc(110% + 1vh);
	color: white;
	background: #D38312;
	padding: 5px;
}
.previous:hover, .next:hover{color: white; background: rgba(0,0,0,0.5)}
.previous{ left: 5px;}
.next{ right: 5px;}